# Node
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Cypress environment variables
cypress.env.json